@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  * {
      box-sizing: border-box;
  }
  
  html {
      height: 100%;
  }
  
  body {
      margin: 0px;
      height: 100%;
  }
  
  header {
      text-align: center;
  }
  
  h1 {
      font-family: 'Comfortaa', sans-serif;
      margin: 0px;
  }
  h4{
      margin-top:10px;
      padding-bottom:5px;
      border-bottom: 2px inset black;
  }
  #main{
      height:85%;
      border:2px inset black;
  }

  section#chatroom {
      float:left;
      width:85%;
      overflow: auto;
      border-right: 2px inset black;
  }
  section#userList{
    text-align:center;
    float:right;
    width:15%;
    overflow: auto;
  }
  p#usersName{
    margin: auto;
  }
  section#input_zone {
      margin-top:5px;
      height: 7%;
      text-align: center;
      background-color: #BCA9F5;
      border:2px  inset black;
      border-radius:10px;
  }
  
  .vertical-align {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  }
  
  input#message {
      display: inline-block;
      width: 88%;
      height: 70%;
      font-family: 'Comfortaa', sans-serif;
      font-size: 2vh;
  }
  
  button#send_message {
      display: inline-block;
      height: 70%;
      width: 10%;
  }
  
  p.message {
      margin-left:5px;
      margin-top: 5px;
      width: 95%;
      height: 40px;
      font-size: 2vh;
      font-family: 'Comfortaa', sans-serif;
      padding: 1vh;
  }
  
  
  .message:nth-child(even) {
      background-color: #81DAF5;
      border-radius:25px;
  }
  
  .message:nth-child(odd) {
      background-color: #81BEF7;
      border-radius:25px;
  }
  